/*
li{
	width: 50%;
	height: 100%;
	margin: 20px;
	padding: 30px;
	border-color: black;
	border; 10px;
}*/
/*.container {
    width: 100%;
    border: 20px solid gray;
    padding: 30;
p{
	font-size: 20px;
}*/